@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using MyBlazorWasmWithAuth.Components
@inject HttpClient Http
@attribute [Authorize]
<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<ForecastsView />